.card{
    background: linear-gradient(rgb(23,15,100),rgb(52, 152, 177));
    opacity: 90%;
    border-radius: 10px;
    height: fit-content;
}
.cardtitle{
    font-size: large;
}
.cardbody{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left{
    
}
