.preview_container{
    display: grid;
    height: 100vh;
    width: 80%;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
}
